<a href="https://colab.research.google.com/github/annaa-p-na/nds_exercises/blob/develop/PANDAS1_Exploraci%C3%B3n_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **PANDAS 1: Exploración de datos**

1. Importa la librería de pandas y renombrala como pd

2. Sube el archivo llamado passengers.csv al entorno Colab o a tu Drive para trabajar con el. Luego, importalo al cuaderno mediante la funcion de pandas read_csv y guárdalo en un dataframe llamado df. La tabla de datos contenida en el archivo csv es un dataset y los datasets en pandas son llamados DataFrames, así que usaremos ambas palabras indistintamente.

3. Muestra las 5 primeras filas de este dataframe, luego muestra las 5 últimas filas

4. Muestra las 3 primeras filas del dataframe, luego muestra las 3 últimas filas

En un mismo dataset podemos encontrar distintos tipos de datos. Por ejemplo, observamos que la columna 'brand' de df contiene texto y la columna 'year_repaired' contiene números. Dependiendo de su tipo, podremos usar la columna para realizar un tipo de análisis u otro, como por ejemplo, si es numérica podremos calcular su promedio. El tipo de la columna, lo definirá el tipo de datos que se encuentre en ella. Los tipos serán los mismos que hemos visto en el primer módulo de python (int, float, string, booleana) con la diferencia de que el tipo string se llamara object en pandas.

Cuando nosotros importamos un dataset en pandas y obtenemos su correspondiente dataframe, pandas asigna un tipo a cada columna. Puede ser que a veces el tipo asignado no sea el adecuado, es por ello que es recomendable ver de que tipo son las columnas de tu dataframe y corregir el tipo si es necesario. Un ejemplo de tipo no adecuado, seria una columna numérica que la ha tomado como texto, lo que no nos permitirá llevar a cabo operaciones matemáticas con ella. O bien, la edad de las personas de nuestro dataframe tomadas como decimal (float) cuándo la edad siempre la damos en número enteros (int), lo que nos haría consumir más memoria de la necesaria.

5. Mira de que tipo son las columnas de tu dataframe df mediante el atributo .dtypes

6. Cambia el tipo de la columna 'age' de float64 a int64, mediante el método .astype() y comprueba que el cambio se ha llevado a cabo correctamente.

7. Para ver cuántos registros tiene nuestro dataframe, es decir cuántas filas y cuántas columnas tiene, podemos usar el atributo .shape, aplica el atributo .shape a df

8. Accede a la columna fare mediante los corchetes. Recuerda que si solamente pones un corchete para abrir y otro para cerrar, vas a obtener una Serie de pandas en vez de un DataFrame. Esto no suele ser ningún problema ya que ambas estructuras comparten la mayoría de métodos y funciones, pero es importante tenerlo en cuenta por si queremos aplicar algun método exclusivo de DataFrames. Si queremos obtener un DataFrame de una sola columna en vez de una Serie, deberemos acceder a ella mediante doble corchete, dos para abrir y dos para cerrar, igual que cuando accedemos a un conjunto de columnas, que pasaremos una lista con todas las columnas que queremos seleccionar.

9. Toma las columnas pclass y age y almacenalas en un nuevo dataframe llamado df2

10. Mira en que clase había más pasajeros mediante el método .value_counts(), teniendo en cuenta que la clase del passajero se encuentra en la columna pclass. Recuerda que el método value_counts te proporciona el número de apariciones en el dataframe de cada uno de los valores de la columna dada.

11. Por defecto, mediante .value_counts() se ordenarán los elementos del que más veces se encuentre en el dataframe al que menos. Si queremos que el orden sea inverso, del que menos aparece al que más, podemos usar el parámetro ascending en el método .value_counts() y determinar que ascending = True. Ahora, llama al método value_counts para la columna pclass otra vez, pero ordena los valores de menor a mayor como recién explicado.

12. Otro parámetro muy interesante del método value_counts es el normalize. Por defecto, el método value_counts nos proporcionará el número absoluto de veces que aparece cada elemento, pero si en vez de la cantidad de veces queremos saber en porcentaje cuánta presencia tiene cada valor en la determinada columna, deberemos usar el parámetro normalize=True. Aplica el método value_counts con el parámetro normalize=True para ver que porcentaje de pasajeros viajaba en cada clase.

Si lo que queremos no es saber cuántas veces aparece un valor en una columna, sino algunas métricas estadísticas sobre la distribución de los valores en una columna, tenemos el método .describe(). Este será útil sobretodo en datos numéricos.

13. Aplica el método .describe() a la columna fare

14. Para las columnas de tipo object, el output del método .describe() será distinto. Aplícalo a la columna sex del dataframe df