<a href="https://colab.research.google.com/github/annaa-p-na/nds_exercises/blob/develop/ejercicios_practica/4.PANDAS_ejercicios_1a_parte.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **PANDAS 1 y 2: Exploración de datos y transformación de columnas**

1. Importa la librería de pandas y renombrala como pd

2. Sube el archivo llamado chipotle.csv al entorno Colab o a tu Drive para trabajar con el. Luego, importalo al cuaderno mediante la funcion de pandas read_csv y guárdalo en un dataframe llamado df. La tabla de datos contenida en el archivo csv es un dataset y los datasets en pandas son llamados DataFrames, así que usaremos ambas palabras indistintamente.

3. Muestra la información esencial del dataframe mediante el método .info()

4. Muestra las 10 primeras filas de este dataframe, luego muestra las 5 últimas filas

5. Mira de que tipo son las columnas de tu dataframe df mediante el atributo .dtypes

6. Quita el símbolo del dolar de la columna item_price mediante el método .replace(), comprueba que lo has hecho correctamente imprimiendo las primeras filas del dataframe.

7. Ahora, transforma la columna item_price columna de tipo object a tipo float64 para considerar el precio como un número decimal y poder llevar a cabo análisis numéricos con este campo. Haz el cambio mediante el método .astype() y luego comprueba que lo has hecho correctamente mediante el atributo .dtypes

8. Para ver cuántos registros tiene nuestro dataframe, es decir cuántas filas y cuántas columnas tiene, podemos usar el atributo .shape, aplica el atributo .shape a df

9. Accede a la columna item_name mediante los corchetes y obtén una Serie

10. Accede a la columna item_name mediante los corchetes y obtén un DataFrame

11. Toma las columnas order_id, item_name y quantity y almacenalas en un nuevo dataframe llamado df2

12. Mira cuántas veces aparece cada plato del restaurante mediante el método .value_counts()

13. Cuáles son los 3 platos más populares? Es decir, los que aparecen en más pedidos. Cuáles son los 3 platos que aparecen en menos pedidos?

14. Si en vez de la cantidad de veces que aparece cada elemento queremos saber en porcentaje cuánta presencia tiene cada valor en una determinada columna, podemos usar el parámetro normalize=True en el método .value_counts(). Aplícalo para ver que presencia tiene cada plato respecto a todos los platos pedidos.

15. De todos los platos pedidos, que presencia en porcentaje tiene el barbacoa burrito?

16. Guarda la serie obtenida en el ejercicio anterior a partir del vale_counts en un DataFrame mediante la función pd.DataFrame y luego renombra la columna como item_pct y transformala para que los valores porcentuales estén en base 100 y redondeado a 2 decimales

Si lo que queremos no es saber cuántas veces aparece un valor en una columna, sino algunas métricas estadísticas sobre la distribución de los valores en una columna, tenemos el método .describe(). Este será útil sobretodo en datos numéricos.

17. Aplica el método .describe() a la columna item_price

Cuál es el precio promedio de los items ordenados en este restaurante? Cuál es el máximo? Y el mínimo?

18. Para las columnas de tipo object, el output del método .describe() será distinto. Aplícalo a la columna item_name del dataframe df

19.Aplica el método .describe() a la totalidad del dataframe df